*{
    margin:0;
    border:0;
    background-color: black;
    color:white;
}
ul,li{
    display:inline;
    color:grey;
    cursor: pointer;
}
.header{
    text-align: center;
    padding:100px;
}
li:hover{
    color:white;
}
li{
    margin-top: 50px;
    padding-left: 10px;
}
img{
    width: 75px;
    height: 75px;
}
.food{
background-color: white;
border-color: black;
border-style: solid;
border-width: 3px;
text-align: center;
width:200px;
height:200px;
display:inline-block;
}
p{
    background-color:white;
    color:black;
}
h5{
    background-color: black;
    color:white;
    display: inline;

}
.items{
 text-align: center;
}
input{
    background-color: white;
    color:black;
    display:inline-block;
    width:200px;
    text-align: center;
}
.Contact{
    text-align: center;
}
table{
    display:inline;
}
.Number{
    display:inline-block;
    color:black;
    background-color: yellow;
    width:500px;
}